<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"> Baiwa Jr </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Help</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <label class="" style="color: white;">Wongwithit Rubchaleam</label>&nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" >logout</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row" style="margin-top: 25px;">
    <div class="col-3">

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Menu
        </a>
        <a href="#" class="list-group-item list-group-item-action">Menu 1</a>
        <a href="#" class="list-group-item list-group-item-action">Menu 2</a>
        <a href="#" class="list-group-item list-group-item-action">Menu 3</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Menu 4 Dis</a>
      </div>

    </div>
    <div class="col-9">
      <h4>Header</h4>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>

      <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

      
    </div>
  </div>

</div>